node_modules/
.nyc_output/
.idea/
dist/
build/
.ssh/
coverage/
.scannerwork/
.npmrc

.env
telepresence.log
.DS_STORE
yarn-error.log
openapi.json
swagger.yml
swagger.json
*test-results.xml

.tool-versions
*.log